<div class="w3l_banner_nav_left">
  <nav class="navbar nav_bottom">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header nav_2">
      <button
        type="button"
        class="navbar-toggle collapsed navbar-toggle1"
        data-toggle="collapse"
        data-target="#bs-megadropdown-tabs"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
      <ul class="nav navbar-nav nav_1" *ngFor="let category of categories">
        <li dropdown class="w3ls_vegetables dropdown">
          <a
            dropdownToggle
            class="dropdown-toggle custom-dropdown-btn"
            data-toggle="dropdown"
          >
            {{ category.title }} <span class="caret"></span
          ></a>
          <div *ngIf="category.subcategories.data.title">
            <ul class="nav navbar-nav nav_1 dropdown-menu">
              <li *ngFor="let num of category.subcategories.data.title">
                <a routerLink="products">
                  {{ category.subcategories.data[num].title }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
      <ul class="nav navbar-nav nav_1" *ngIf="categories">
        <!-- snacks  -->
        <li dropdown class="w3ls_vegetables dropdown">
          <a
            dropdownToggle
            class="dropdown-toggle custom-dropdown-btn"
            data-toggle="dropdown"
          >
            {{ categories[0].title }} <span class="caret"></span
          ></a>
          <ul class="nav navbar-nav nav_1 dropdown-menu">
            <li>
              <a routerLink="nonveg">
                {{ categories[0].subcategories.data[0].title }}
              </a>
            </li>
            <li>
              <a routerLink="veg">
                {{ categories[0].subcategories.data[1].title }}
              </a>
            </li>
          </ul>
        </li>
        <!-- signatures -->
        <li>
          <a routerLink="signatures"> {{ categories[1].title }} </a>
        </li>
        <!-- dalle momo -->
        <li>
          <a routerLink="dalle_momo"> {{ categories[2].title }} </a>
        </li>
        <!-- rice and noodles -->
        <li>
          <a routerLink="rice_and_noodles"> {{ categories[3].title }} </a>
        </li>
        <!-- frozen items -->
        <li>
          <a routerLink="frozen_items"> {{ categories[4].title }} </a>
        </li>
        <!-- momo -->
        <li>
          <a routerLink="momo"> {{ categories[5].title }} </a>
        </li>
        <!-- signature  -->
        <li>
          <a routerLink="signature"> {{ categories[6].title }} </a>
        </li>

        <!-- <li><a routerLink="products">Branded Foods</a></li>
        <li><a routerLink="households">Households</a></li>

        <li dropdown class="w3ls_vegetables dropdown">
          <a dropdownToggle class="dropdown-toggle custom-dropdown-btn" data-toggle="dropdown"
            >Veggies & Fruits <span class="caret"></span
          ></a>
          <ul class="nav navbar-nav nav_1 dropdown-menu">
            <li><a routerLink="vegetables">Vegetables</a></li>
            <li><a routerLink="vegetables">Fruits</a></li>
          </ul>
        </li>

        <li><a routerLink="kitchen">Kitchen</a></li>
        <li><a routerLink="shortcodes">Short Codes</a></li>

        <li dropdown class="w3ls_vegetables dropdown">
          <a dropdownToggle class="dropdown-toggle custom-dropdown-btn" data-toggle="dropdown"
            >Beverages<span class="caret"></span
          ></a>
          <ul class="nav navbar-nav nav_1 dropdown-menu">
            <li><a routerLink="beverages">Soft Drinks</a></li>
            <li><a routerLink="beverages">Juices</a></li>
          </ul>
        </li>

        <li><a routerLink="petfoods">Pet Food</a></li>

        <li dropdown class="w3ls_vegetables dropdown">
          <a dropdownToggle class="dropdown-toggle custom-dropdown-btn" data-toggle="dropdown"
            >Frozen Foods<span class="caret"></span
          ></a>
          <ul class="nav navbar-nav nav_1 dropdown-menu">
            <li><a routerLink="frozenfoods">Frozen Snacks</a></li>
            <li><a routerLink="frozenfoods">Frozen Nonveg</a></li>
          </ul>
        </li>

        <li><a routerLink="bread&bakery">Bread & Bakery</a></li> -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
</div>
