<div class="w3_login">
  <div class="w3_login_module">
    <div class="module form-module">
      <div class="toggle"><i class="fa fa-times fa-pencil"></i></div>
      <div class="form">
        <h2>Forgot Password</h2>
        <form>
          <div>
            <input type="text" name="email" placeholder="email" />
          </div>
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="cta" style="background-color: grey; border: 1px solid white">
        <a routerLink="/login">Already have an account? Login</a>
      </div>
      <div class="cta" style="background-color: grey; border: 1px solid white">
        <a routerLink="/signup">Create new account? Register</a>
      </div>
    </div>
  </div>
</div>
