<div class="banner">
  <div class="w3l_banner_nav_right">
    <div class="w3l_banner_nav_right_banner11">
      <h3>All Products<span class="blink_me"></span></h3>
    </div>
    <div class="w3l_banner_nav_right_banner3_btm">
      <div class="col-md-4 w3l_banner_nav_right_banner3_btml">
        <div class="view view-tenth">
          <img src="assets/images/momo1.jpg" alt=" " class="img-responsive maincourse_image" />
          <div class="mask">
            <h4>MOMO</h4>
            <p>
              STEAM MOMO <br>
              CHLLI MOMO <br>
              FRY MOMO <br>
              JHOL MOMO <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 w3l_banner_nav_right_banner3_btml maincourse_image">
        <div class="view view-tenth">
          <img src="assets/images/pizza1.jpg" alt=" " class="img-responsive maincourse_image" />
          <div class="mask">
            <h4>Pizza</h4>
            <p>
              SMALL PIZZA <br>
              MEDIUM PIZZA <br>
              LARGE PIZZA <br>
              FAMILY SIZE PIZZA <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 w3l_banner_nav_right_banner3_btml maincourse_image">
        <div class="view view-tenth">
          <img src="assets/images/burger1.jpg" alt=" " class="img-responsive maincourse_image" />
          <div class="mask">
            <h4>Burger</h4>
            <p>
              VEG BURGER <br>
              HAM BURGER <br>
              CHICKEN BURGER <br>
              GRILL CHICKEN BURGER <br>
            </p>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="w3ls_w3l_banner_nav_right_grid">
      <h3>Products</h3>
      <div class="w3ls_w3l_banner_nav_right_grid1">
        <div class="container">
          <div
            class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg"
          >
            <div
              class="col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd"
              *ngFor="let product of products |  paginate: { itemsPerPage: 8, currentPage: page, totalItems: totalItems }"
              style="padding-bottom: 30px"
            >
              <div class="hover14 column">
                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                  <div class="agile_top_brand_left_grid_pos">
                    <img
                      src="assets/images/offer.png"
                      alt=" "
                      class="img-responsive"
                    />
                  </div>
      
                  <div class="row-box-alignment" style="margin: 1em !important;">
                    <div class="agile_top_brand_left_grid1">
                      <figure class="product-figure">
                        <div class="snipcart-item block">
                          <div class="snipcart-thumb">
                            <a routerLink="/item/{{ product.id }}"
                              ><img
                                src="{{ product.categoryBackgroundImage }}"
                                alt=" "
                                class="img-responsive figure-image"
                            /></a>
                            <div style="width: 100%; height: 70px;">
                              <p>{{ product.title }}</p>
                            <h4>
                              Rs: {{ product.unitPrice[0].sellingPrice
                              }}<span>Rs:{{ product.unitPrice[0].markedPrice }}</span>
                            </h4>
                            </div>
                          </div>
                          <div class="snipcart-details">
                            <div>
                              <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input
                                  type="hidden"
                                  name="item_name"
                                  value="raisin rolls"
                                />
                                <input type="hidden" name="amount" value="4.00" />
                                <input
                                  type="hidden"
                                  name="discount_amount"
                                  value="1.00"
                                />
                                <input
                                  type="hidden"
                                  name="currency_code"
                                  value="USD"
                                />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input
                                  type="submit"
                                  name="submit"
                                  value="Add to cart"
                                  class="button"
                                  (click)="postAddtocart(product.id, product.unitPrice[0].id)"
                                />
                              </fieldset>
                            </div>
                          </div>
                        </div>
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //banner -->
