<div class="banner">
  <div class="w3l_banner_nav_right">
    <!-- mail -->
    <div class="mail">
      <h3>User Profile</h3>
      <!-- <div style="float: right; width: 100%; margin-top: 5em !important;">
        <button (click)="showUpdateProfile()" type="button" class="btn btn-info">Update Profile</button>
        <button (click)="showChangePassword()" type="button" class="btn btn-info">Change Password</button>
      </div> -->

      <div class="agileinfo_mail_grids">
        <div>
          <div
            class="col-md-4 agileinfo_mail_grid_left"
            style="width: 25% !important; margin: 20px; width: 33%"
            *ngIf="userDetails"
          >
            <img src="{{ userDetails.image }}" class="profile_image" alt="" />
          </div>

          <div
            class="row"
            style="
              margin-bottom: 3rem;
              border: 2px solid blue;
              border-radius: 30px;
              width: 67%;
            "
          >
            <div class="col-xl-8" style="margin: 20px">
              <!-- Account details card-->
              <div class="card mb-4">
                <form *ngIf="userDetails">
                  <div class="profile_info">
                    <h4>
                      <strong> Username : </strong>
                      <span>{{ userDetails.username }}</span>
                    </h4>
                  </div>
                  <div class="profile_info">
                    <h4>
                      <strong> First Name : </strong>
                      <span>{{ userDetails.firstName }}</span>
                    </h4>
                  </div>
                  <div class="profile_info">
                    <h4>
                      <strong> Last Name : </strong>
                      <span>{{ userDetails.lastName }}</span>
                    </h4>
                  </div>
                  <div class="profile_info">
                    <h4>
                      <strong> Email : </strong>
                      <span>{{ userDetails.email }}</span>
                    </h4>
                  </div>
                  <div class="profile_info">
                    <h4>
                      <strong> Phone Number : </strong>
                      <span>{{ userDetails.mobileNumber }}</span>
                    </h4>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-md-8 agileinfo_mail_grid_right"
          style="
            border: 1px solid black;
            padding: 2em 1em;
            padding: 1rem 2rem;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #d1b3c4 !important;
            color: #69707a !important;
          "
        >
          <h3 style="font-size: 24px; padding-bottom: 2em">
            Update Profile Details
          </h3>
          <div class="row">
            <div class="col-xl-8">
              <!-- Account details card-->
              <div class="card mb-4">
                <div class="card-body" *ngIf="userDetails">
                  <form [formGroup]="updateInfo" (ngSubmit)="updateProfile()">
                    <!-- Form Group (username)-->
                    <div class="mb-3 profile_div">
                      <label
                        class="small mb-1 profile_label"
                        for="inputUsername"
                        >Username</label
                      >
                      <input
                        class="form-control"
                        id="inputUsername"
                        type="text"
                        placeholder="Enter your username"
                        value="{{ userDetails.username }}"
                        readonly
                      />
                    </div>
                    <!-- Form Row-->
                    <div class="row gx-3 mb-3 profile_div">
                      <!-- Form Group (first name)-->
                      <div class="col-md-6 profile_label">
                        <label class="small mb-1" for="inputFirstName"
                          >First name</label
                        >
                        <input
                          class="form-control"
                          formControlName="first-name"
                          id="inputFirstName"
                          type="text"
                          placeholder="First Name"
                          value=""
                        />
                        <span
                          *ngIf="
                            updateInfoControls['first-name'].errors &&
                            (updateInfoControls['first-name'].touched ||
                              updateInfoControls['first-name'].dirty)
                          "
                        >
                          <span
                            class="text-danger"
                            *ngIf="updateInfoControls['first-name'].errors?.['required']"
                            >* firstname is required to update changes</span
                          >
                        </span>
                      </div>
                      <!-- Form Group (last name)-->
                      <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName"
                          >Last name</label
                        >
                        <input
                          class="form-control"
                          formControlName="last-name"
                          id="inputLastName"
                          type="text"
                          placeholder="Last Name"
                          value=""
                        />
                        <span
                          *ngIf="
                            updateInfoControls['last-name'].errors &&
                            (updateInfoControls['last-name'].touched ||
                              updateInfoControls['last-name'].dirty)
                          "
                        >
                          <span
                            class="text-danger"
                            *ngIf="updateInfoControls['last-name'].errors?.['required']"
                            >* lastname is required to update changes</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="mb-3 profile_div">
                      <label class="small mb-1 profile_label" for="inputEmail"
                        >Email</label
                      >
                      <input
                        class="form-control"
                        id="inputEmail"
                        type="text"
                        placeholder="Email"
                        value="{{ userDetails.email }}"
                        readonly
                      />
                    </div>
                    <div class="mb-3 profile_div">
                      <label class="small mb-1 profile_label" for="inputPhone"
                        >Phone Number</label
                      >
                      <input
                        class="form-control"
                        id="inputPhone"
                        type="text"
                        placeholder="Phone Number"
                        value="{{ userDetails.mobileNumber }}"
                        readonly
                      />
                    </div>

                    <!-- Save changes button-->
                    <input
                      [disabled]="!updateInfo.valid"
                      type="submit"
                      value="Save Changes"
                      style="margin-left: 0 !important"
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="col-md-8 agileinfo_mail_grid_right"
          style="
            border: 1px solid black;
            padding: 2em 1em;
            padding: 1rem 2rem;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #d1b3c4 !important;
            color: #69707a !important;
          "
        >
          <h3 style="font-size: 24px; padding-bottom: 2em">Change Password</h3>
          <div class="card-body">
            <form
              [formGroup]="changePasswordForm"
              (ngSubmit)="changePassword()"
            >
              <div class="mb-3 profile_div">
                <label class="small mb-1" for="currentPassword"
                  >Current Password</label
                >
                <input
                  class="form-control"
                  formControlName="old-password"
                  id="currentPassword"
                  type="password"
                  placeholder="Enter current password"
                />
                <span
                  *ngIf="
                    changePasswordFormControls['old-password'].errors &&
                    (changePasswordFormControls['old-password'].touched ||
                      changePasswordFormControls['old-password'].dirty)
                  "
                >
                  <span
                    class="text-danger"
                    *ngIf="
                  changePasswordFormControls['old-password'].errors?.['required']
                "
                    >* Enter current password</span
                  >
                </span>
              </div>
              <div class="mb-3 profile_div">
                <label class="small mb-1" for="newPassword">New Password</label>
                <input
                  class="form-control"
                  formControlName="new-password"
                  id="newPassword"
                  type="password"
                  placeholder="Enter new password"
                />
                <span
                  *ngIf="
                    changePasswordFormControls['new-password'].errors &&
                    (changePasswordFormControls['new-password'].touched ||
                      changePasswordFormControls['new-password'].dirty)
                  "
                >
                  <span
                    class="text-danger"
                    *ngIf="
                  changePasswordFormControls['new-password'].errors?.['required']
                "
                    >* Enter new password</span
                  >
                  <span
                    class="text-danger"
                    *ngIf="
                  changePasswordFormControls['new-password'].errors?.['minlength']
                "
                    >* password must be at least 6 characters</span
                  >
                </span>
              </div>
              <div class="mb-3 profile_div">
                <label class="small mb-1" for="confirmPassword"
                  >Confirm Password</label
                >
                <input
                  class="form-control"
                  formControlName="confirm-password"
                  id="confirmPassword"
                  type="password"
                  placeholder="Confirm new password"
                />
                <span
                  *ngIf="
                    changePasswordFormControls['confirm-password'].errors &&
                    (changePasswordFormControls['confirm-password'].touched ||
                      changePasswordFormControls['confirm-password'].dirty)
                  "
                >
                  <span
                    class="text-danger"
                    *ngIf="
                  changePasswordFormControls['confirm-password'].errors?.['required']
                "
                    >* Enter confirm password</span
                  >
                  <span
                    *ngIf="
                      changePasswordFormControls['confirm-password'].touched &&
                      changePasswordFormControls['new-password'].value !=
                        changePasswordFormControls['confirm-password'].value
                    "
                  >
                    * password and confirm password didn't match.
                  </span>
                </span>
              </div>
              <input
                [disabled]="!changePasswordForm.valid"
                type="submit"
                value="Change Password"
                style="margin-left: 0 !important"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
