<div class="agileits_header">
  <div class="w3l_offers">
    <a routerLink="products">Today's special Offers !</a>
  </div>
  <div class="w3l_search">
    <input
      type="text"
      name="Product"
      value="Search a product..."
      onfocus="this.value = '';"
      onblur="if (this.value == '') {this.value = 'Search a product...';}"
      required=""
      [(ngModel)]="search_query.title"
    />
    <input type="submit" value=" " />
  </div>
  
  <div class="product_list_header">
    <form class="last">
      <fieldset>
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="display" value="1" />
        <input
          routerLink="/checkout"
          type="submit"
          name="submit"
          value="View your cart"
          class="button"
        />
      </fieldset>
    </form>
  </div>

  <div class="product_list_header" *ngIf="userLoggedIn">
    <div class="last">
      <fieldset>
        <input
          type="submit"
          name="submit"
          value="User"
          class="button"
          routerLink="profile"
        />
        <!-- <h4 style="color: white;">Aashish</h4> -->
      </fieldset>
    </div>
  </div>

  <div class="product_list_header" *ngIf="userLoggedIn">
    <div class="last">
      <fieldset>
        <input
          type="submit"
          name="submit"
          value="Logout"
          class="button"
          (click)="logout()"
        />
        <!-- <h4 style="color: white;">Aashish</h4> -->
      </fieldset>
    </div>
  </div>

  <div class="w3l_header_right" id="auth-icon" *ngIf="!userLoggedIn">
    <div dropdown class="w3ls_vegetables dropdown">
      <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown"
        ><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span
      ></a>
      <ul class="dropdown-menu">
        <li><a routerLink="login" id="auth-icon">Login</a></li>
        <li><a routerLink="signup" id="auth-icon">Sign Up</a></li>
      </ul>
    </div>
  </div>

  <div class="w3l_header_right1">
    <h2><a routerLink="contactus">Contact Us</a></h2>
  </div>
  <div class="clearfix"></div>
</div>
