<div class="w3_login">
  <div class="w3_login_module">
    <div class="module form-module">
      <div class="toggle">
        <i class="fa fa-times fa-pencil"></i>
      </div>

      <div class="form">
        <h2>Create an account</h2>
        <form [formGroup]="signupForm" (ngSubmit)="signupUser()">
          <div>
            <!-- firstname input field  -->
            <span
              *ngIf="
                signupFormControls['first_name'].errors &&
                (signupFormControls['first_name'].touched ||
                  signupFormControls['first_name'].dirty)
              "
            >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['first_name'].errors?.['required']
                "
                >* firstname is required</span
              >
            </span>
            <input
              type="text"
              formControlName="first_name"
              name="Firstname"
              placeholder="First Name"
            />
          </div>
          <!-- lastname input field -->
          <div>
            <span
              *ngIf="
                signupFormControls['last_name'].errors &&
                (signupFormControls['last_name'].touched ||
                  signupFormControls['last_name'].dirty)
              "
            >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['last_name'].errors?.['required']
                "
                >* lastname is required</span
              >
            </span>
            <input
              type="text"
              formControlName="last_name"
              name="Lastname"
              placeholder="Last Name"
            />
          </div>
          <!-- username input field  -->
          <div>
            <span
              *ngIf="
                signupFormControls['username'].errors &&
                (signupFormControls['username'].touched ||
                  signupFormControls['username'].dirty)
              "
            >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['username'].errors?.['required']
                "
                >* username is required</span
              >
            </span>
            <input
              type="text"
              formControlName="username"
              name="Lastname"
              placeholder="username"
            />
          </div>
          <!-- email input field  -->
          <div>
            <span
              *ngIf="
                signupFormControls['email'].errors &&
                (signupFormControls['email'].touched ||
                  signupFormControls['email'].dirty)
              "
            >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['email'].errors?.['required']
                "
                >* email is required</span
              >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['email'].errors?.['email']"
                >* email is not valid</span
              >
            </span>
            <input
              type="email"
              formControlName="email"
              name="Email"
              placeholder="Email Address"
            />
          </div>
          <!-- password input field  -->
          <div>
            <span
              *ngIf="
                signupFormControls['password'].errors &&
                (signupFormControls['password'].touched ||
                  signupFormControls['password'].dirty)
              "
            >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['password'].errors?.['required']
                "
                >* password is required</span
              >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['password'].errors?.['minlength']
                "
                >* password must be at least 6 characters</span
              >
            </span>
            <input
              type="password"
              formControlName="password"
              name="Password"
              placeholder="Password"
            />
          </div>
          <!-- phone number input field  -->
          <div>
            <span
              *ngIf="
                signupFormControls['mobile_number'].errors &&
                (signupFormControls['mobile_number'].touched ||
                  signupFormControls['mobile_number'].dirty)
              "
            >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['mobile_number'].errors?.['required']
                "
                >* phone number is required</span
              >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['mobile_number'].errors?.['pattern']
                "
                >* phone number must be numbers</span
              >
              <span
                class="text-danger"
                *ngIf="
                  signupFormControls['mobile_number'].errors?.['maxlength']
                "
                >* phone number should contain exactly 10 numbers</span
              >
            </span>
            <input
              type="text"
              formControlName="mobile_number"
              name="Phone"
              placeholder="Phone Number"
            />
          </div>
          <!-- signup button  -->
          <input
            [disabled]="!signupForm.valid"
            type="submit"
            value="Register"
          />
        </form>
      </div>
      <div>
        <div *ngIf="alert" class="alert alert-success" role="alert">
          <button
            type="button"
            (click)="closeAlert()"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="alert-heading">Register successful</h4>
        </div>
      </div>
      <div class="cta"><a routerLink="/forgot_password">Forgot your password?</a></div>
      <div class="cta" style="background-color: grey; border: 1px solid white">
        <a routerLink="/login">Already have an account? Login</a>
      </div>
    </div>
  </div>
</div>
